@define TotalLength: 40s;
@define TimingFunc: linear;
@define IterationCount: 1;
@define AnimationDelay: 0s;

.AddonLoadingRoot
{
	width: 100%;
    height: 100%;
    background-color: black;
    background-image: url("file://{images}/custom_game/loading_screen/loading.png");
	background-position: center center;
	background-size: cover;
}

#TitlePanel
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 150px;
	margin-left: 100px;
	flow-children: right;
}

#AddonTitle
{
	margin-bottom: -15px;
	vertical-align: center;
	font-size: 40px;
	color: white;
	text-shadow: 3px 3px 3px #000000;
}