.PatreonIngameContainer
{
  flow-children: down;
  vertical-align: bottom;
  //horizontal-align: right;
  margin-bottom: 260px;
  margin-left: 0px;
}

.PatreonIconsContainer
{
  flow-children: right;
}

.PatreonIcon
{
  width: 49px;
  height: 36px;
}

.PatreonButton
{
  width: 248px;   // Orig 217
  height: 40px;   // Orig 35
}

.BuyMeACoffeeButton
{
  width: 248px;
  height: 54px;
}